/* Your CSS definitions here */
#clarkFeild {
    background: rgb(50, 100, 85);
    border: 10px;
    border-color: black;
    width: fit-content;
    padding: 10px;
}

h1{
    size: 28pt;
    font-family: Arial,;
    color: white; 
}

h2{
    size: 28pt;
    font-family: Arial,;
    color: white;
    align-items: center;
}


th {
    size: 42pt;
    color: white;
    font-weight: 700;
}

table, td {                 /** How to make unique id for these*/
    border: solid;
    border-color: black;
    font-size: 12px;
    text-align: center;
    padding: 3px;
}
table, th {
    border-collapse: collapse;
    border-style: solid;
    border-color: white;
    border-spacing: 4px;
}
img {
    width: 128px;
    float: right;
}

#controlCenter{
    background-color: black;
    border-radius: 25;
    width: fit-content;

}
#controlCenterTable{
    border-radius: 5px;
    color: white;
    size: 12pt;
    font-family: Arial;


}


